@import '../../colors.scss';

.topleft,
.bottomright {
	position: absolute;
	width: 50vw;
	height: 100vh;

	.rotate90 & {
		width: 50vh;
		height: 100vw;
	}
}

.topleft {
	background-color: $color-orange;
	top: 0;
	left: 0;
	transform: rotate(13deg) translate(-34.9rem, 5.7rem);
	
	.rotate90 & {
		transform: rotate(13deg) translate(-36.3rem, 5.3rem);
	}
}

.bottomright {
	background-color: $color-lightpurple;
	bottom: 0;
	right:0;
	transform: rotate(13deg) translate(34.1rem, -5.5rem);


	.rotate90 & {
		transform: rotate(13deg) translate(36rem, -5.3rem);
	}
}