@import '../../colors.scss';

.topleft,
.bottomright {
	position: absolute;
	width: 50vw;
	height: 50vh;

	.rotate90 & {
		width: 50vh;
		height: 50vw;
	}
}

.topleft {
	background-color: $color-rebeccapurple;
	top: 0;
	left: 0;
	transform: rotate(13deg) translate(-16.9rem, 2.7rem);

	.rotate90 & {
		transform: rotate(13deg) translate(-26.3rem, 4.3rem);
	}
}

.bottomright {
	background-color: $color-orange;
	bottom: 0;
	right:0;
	transform: rotate(13deg) translate(16.1rem, -2.7rem);


	.rotate90 & {
		transform: rotate(13deg) translate(27rem, -4.5rem);
	}
}