@import '../../colors.scss';

.venue-map {
	position: absolute;
	width: 118%;
    height: 128%;
    top: -18%;
    left: -17%;
}

.st0 {
	fill:#000;
}

.icon {
	.event-css & {
		fill:$color-salmon;
	}
	.event-js1 &,
	.event-js2 & {
		fill:$color-red;
	}
}
.icon.exit {
	fill:$color-green;
}

.st1 {
	fill:none;
}