@import '../../colors.scss';


.background {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(#e6e6fa, #f0ffff);
	z-index: 1;
}

.css-bg {
	height: 70%;
	position: absolute;
	z-index: 10;
	opacity: 1;

	polygon,
	path {
	//	fill: darken($color-red, 10%);
	}
}

.css-bg-top {
	top: 0;
	left: 0;

	path {
		stroke: #000;
		stroke-width: 2vw;
		fill: none;
	}

	transform-origin: top left;
	transform: scale(1.3);

}
.css-bg-bottom {
	bottom: 0;
	left: 0;
	transform-origin: bottom left;
	transform: scale(1.3);

	path {
		fill: #F05D5E;
	}
}